DB_HOST=your_mysql_host
DB_PORT=3306
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_DATABASE=your_database_name
API_BASE=https://api.weixin.qq.com/publisher/stat
START_DATE=2025-07-01

MINI_PROGRAM_1_NAME=小程序名称1
MINI_PROGRAM_1_APPID=wx1234567890abcdef
MINI_PROGRAM_1_APPSECRET=your_app_secret_1

MINI_PROGRAM_2_NAME=小程序名称2
MINI_PROGRAM_2_APPID=wx1234567890abcdef
MINI_PROGRAM_2_APPSECRET=your_app_secret_2

MINI_PROGRAM_3_NAME=小程序名称3
MINI_PROGRAM_3_APPID=wx1234567890abcdef
MINI_PROGRAM_3_APPSECRET=your_app_secret_3

MINI_PROGRAM_4_NAME=小程序名称4
MINI_PROGRAM_4_APPID=wx1234567890abcdef
MINI_PROGRAM_4_APPSECRET=your_app_secret_4

MINI_PROGRAM_5_NAME=小程序名称5
MINI_PROGRAM_5_APPID=wx1234567890abcdef
MINI_PROGRAM_5_APPSECRET=your_app_secret_5